.bodycolor{
  background-color: #ADD8E6;

}
.bodycolor-transparent{
  background-color: rgba(173,216,230,0.3);
  /* opacity: 0.5; */

}
/* .bodycolor-transparent:hover {
  opacity: 1.0;
} */

.container {
  max-width: 960px;
}
